[submodule "Submodules/variant"]
	path = Submodules/variant
	url = https://github.com/boostorg/variant
[submodule "Submodules/type_traits"]
	path = Submodules/type_traits
	url = https://github.com/boostorg/type_traits
[submodule "Submodules/type_index"]
	path = Submodules/type_index
	url = https://github.com/boostorg/type_index
[submodule "Submodules/tuple"]
	path = Submodules/tuple
	url = https://github.com/boostorg/tuple
[submodule "Submodules/throw_exception"]
	path = Submodules/throw_exception
	url = https://github.com/boostorg/throw_exception
[submodule "Submodules/static_assert"]
	path = Submodules/static_assert
	url = https://github.com/boostorg/static_assert
[submodule "Submodules/smart_ptr"]
	path = Submodules/smart_ptr
	url = https://github.com/boostorg/smart_ptr
[submodule "Submodules/signals2"]
	path = Submodules/signals2
	url = https://github.com/boostorg/signals2
[submodule "Submodules/serialization"]
	path = Submodules/serialization
	url = https://github.com/boostorg/serialization
[submodule "Submodules/utility"]
	path = Submodules/utility
	url = https://github.com/boostorg/utility
[submodule "Submodules/tokenizer"]
	path = Submodules/tokenizer
	url = https://github.com/boostorg/tokenizer
[submodule "Submodules/range"]
	path = Submodules/range
	url = https://github.com/boostorg/range
