[submodule "Submodules/variant"]
	path = Submodules/variant
	url = https://github.com/boostorg/variant
[submodule "Submodules/type_traits"]
	path = Submodules/type_traits
	url = https://github.com/boostorg/type_traits
[submodule "Submodules/type_index"]
	path = Submodules/type_index
	url = https://github.com/boostorg/type_index
[submodule "Submodules/tuple"]
	path = Submodules/tuple
	url = https://github.com/boostorg/tuple
[submodule "Submodules/throw_exception"]
	path = Submodules/throw_exception
	url = https://github.com/boostorg/throw_exception
[submodule "Submodules/static_assert"]
	path = Submodules/static_assert
	url = https://github.com/boostorg/static_assert
[submodule "Submodules/smart_ptr"]
	path = Submodules/smart_ptr
	url = https://github.com/boostorg/smart_ptr
[submodule "Submodules/signals2"]
	path = Submodules/signals2
	url = https://github.com/boostorg/signals2
[submodule "Submodules/serialization"]
	path = Submodules/serialization
	url = https://github.com/boostorg/serialization
[submodule "Submodules/preprocessor"]
	path = Submodules/preprocessor
	url = https://github.com/boostorg/preprocessor
[submodule "Submodules/optional"]
	path = Submodules/optional
	url = https://github.com/boostorg/optional
[submodule "Submodules/multi_index"]
	path = Submodules/multi_index
	url = https://github.com/boostorg/multi_index
[submodule "Submodules/move"]
	path = Submodules/move
	url = https://github.com/boostorg/move
[submodule "Submodules/iterator"]
	path = Submodules/iterator
	url = https://github.com/boostorg/iterator
[submodule "Submodules/integer"]
	path = Submodules/integer
	url = https://github.com/boostorg/integer
[submodule "Submodules/function"]
	path = Submodules/function
	url = https://github.com/boostorg/function
[submodule "Submodules/foreach"]
	path = Submodules/foreach
	url = https://github.com/boostorg/foreach
[submodule "Submodules/detail"]
	path = Submodules/detail
	url = https://github.com/boostorg/detail
[submodule "Submodules/core"]
	path = Submodules/core
	url = https://github.com/boostorg/core
[submodule "Submodules/container_hash"]
	path = Submodules/container_hash
	url = https://github.com/boostorg/container_hash
[submodule "Submodules/config"]
	path = Submodules/config
	url = https://github.com/boostorg/config
[submodule "Submodules/bind"]
	path = Submodules/bind
	url = https://github.com/boostorg/bind
[submodule "Submodules/assert"]
	path = Submodules/assert
	url = https://github.com/boostorg/assert
[submodule "Submodules/utility"]
	path = Submodules/utility
	url = https://github.com/boostorg/utility
[submodule "Submodules/tokenizer"]
	path = Submodules/tokenizer
	url = https://github.com/boostorg/tokenizer
[submodule "Submodules/range"]
	path = Submodules/range
	url = https://github.com/boostorg/range
[submodule "Submodules/numeric_conversion"]
	path = Submodules/numeric_conversion
	url = https://github.com/boostorg/numeric_conversion
[submodule "Submodules/lexical_cast"]
	path = Submodules/lexical_cast
	url = https://github.com/boostorg/lexical_cast
[submodule "Submodules/io"]
	path = Submodules/io
	url = https://github.com/boostorg/io
[submodule "Submodules/date_time"]
	path = Submodules/date_time
	url = https://github.com/boostorg/date_time
[submodule "Submodules/container"]
	path = Submodules/container
	url = https://github.com/boostorg/container
[submodule "Submodules/concept_check"]
	path = Submodules/concept_check
	url = https://github.com/boostorg/concept_check
[submodule "Submodules/array"]
	path = Submodules/array
	url = https://github.com/boostorg/array
[submodule "Submodules/algorithm"]
	path = Submodules/algorithm
	url = https://github.com/boostorg/algorithm
[submodule "Submodules/mpl"]
	path = Submodules/mpl
	url = https://github.com/21-DOT-DEV/mpl
[submodule "Submodules/describe"]
	path = Submodules/describe
	url = https://github.com/boostorg/describe
[submodule "Submodules/mp11"]
	path = Submodules/mp11
	url = https://github.com/boostorg/mp11
